body {
    font-family: "Inter", sans-serif;
}

/************************ HEADER **********************************/
header {
    display: flex;
    flex-direction: column;
    padding: 5px 0 0;
    border-bottom: 1px solid #deaaaa;
    column-gap: 8px;
    cursor: pointer;
}

header div {
    display: flex;
    border-bottom: 1px solid #deaaaa;
}

header span {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    color: #392727;
}

header img {
    display: block;
    width: 30px;
    height: auto;
    padding-bottom: 5px;
}



/************************ HAMBURGER **********************************/
.hamburger {
    font-size: 1.6rem;
    background: none;
    border: none;
    color: #392727;
    height: 44px;
    position: absolute;
    right: 5px;
    top: 1px;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation a {
    color: #392727;
    display: block;
    padding: .8rem 10px;
    text-decoration: none;
    border-bottom: 1px solid #deaaaa;
}

.navigation a:hover {
    background-color: #deaaaa;
}

/************************ MAIN **********************************/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero {
    margin: 1rem 0;
}
.hero img {
    width: 90vw;
}

h1 {
    text-align: center;
}

.but-wea {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90vw;
}
.join {
    padding: 10px 25px;
    margin: 10px;
    background-color: #392727;
    border: none;
    color: white;
    cursor: pointer;
}
.weather {
    text-align: center;
    padding: 30px;
    background-color: #e6d4d4;
}

.events {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.current {
    display: flex;
    flex-direction: column;
    width: 90%;
}
.current div {
    padding: 10px;
    margin: 10px;
    background-color: #deaaaa;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.current div p:first-child {
    background-color: #392727;
    color: white;
    width: 90%;
    height: 40px;
    display: flex;
    text-align: center;
    padding: 10px;
    word-break: break-all;
}

#forecast {
    display: flex;
    justify-content: space-between;
}

.spotlights {
    display: block;
}
.spotlights h2 {
    text-align: center;
}
.container {
    display: flex;
    flex-direction: column;
}
.spotlight {
    text-align: center;
    margin: 10px;
    padding: 5px;
    border: 3px groove #392727;
}



/************************ FOOTER **********************************/
footer {
    background-color: #deaaaa;
    padding: 1rem 10px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.info-chamber {
    text-align: center;
}
.links {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.links a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border: 1px solid #392727;
}

.links a:hover {
    background-color: #ae8585;
}




@media only screen and (min-width: 38rem) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }

    header div {
        display: flex;
        border-bottom: none;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
        width: 100%;
    }

    .navigation a {
        border: none;
    }

    .navigation li {
        width: 33.33%;
        text-align: center;
    }



    
    .hero img {
        width: 600px;
    }
    .but-wea {
        flex-direction: row;
        max-width: 100vw;
    }


    .current {
        flex-direction: row;
        width: 100%;
    }
    .container {
        flex-direction: row;
        
    }



    footer {
        flex-direction: row;
        padding: 0;
    }
}