body {
    font-family: "Inter", sans-serif;
}

/************************ HEADER **********************************/
header {
    display: flex;
    flex-direction: column;
    padding: 5px 0 0;
    border-bottom: 1px solid #deaaaa;
    column-gap: 8px;
    cursor: pointer;
}
header div {
    display: flex;
    border-bottom: 1px solid #deaaaa;
}
header span {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
        color: #392727;
}

header img {
    display: block;
    width: 30px;
    height: 30px;
    padding-top: 5px;
}





/************************ HAMBURGER **********************************/
.hamburger {
    font-size: 1.6rem;
    background: none;
    border: none;
    color: #392727;
    height: 44px;
    position: absolute;
    right: 5px;
    top: 1px;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation a {
    color: #392727;
    display: block;
    padding: .8rem 10px;
    text-decoration: none;
    border-bottom: 1px solid #deaaaa;
}

.navigation li.current {
    background-color: #eee;
}

.navigation a:hover {
    background-color: #deaaaa;
}

/************************ MAIN **********************************/
.buttons {
    display: flex;
    width: 100%;
    justify-content: center;
}
.buttons button {
    padding: 10px 25px;
    background-color: transparent;
    border: 1px solid #392727;
    border-radius: 5px;
    margin: 10px;
}
#cards {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
}
#cards img {
    width: 150px;
    height: auto;
    object-fit: contain;
    margin-top: 10px;
}
.big-container {
    background-color: #e6d4d4;
    margin: 5px;
    padding: 5px;
    text-align: center;
    max-width: 100vw;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #392727;
}
.info {
    text-align: left;
    word-break: break-all; 
}
.info p {
    margin: 20px 0;
}



/************************ FOOTER **********************************/
footer {
    background-color: #deaaaa;
    padding: 1rem 10px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.info-chamber {
    text-align: center;
}
.links {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.links a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border: 1px solid #392727;
}

.links a:hover {
    background-color: #ae8585;
}